:root {
  --bg-color: #2c2d2e;
  --color: #e5e5e5;
  --brand-color: #32a852;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #e5e5e5;
    --color: #2c2d2e;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  margin: .5rem;
}

h1, h2, h3, a, label, input, form, pre, textarea {
  display: block;
  margin-top: .5rem;
  margin-left: .5rem;
}

input, textarea {
  padding: .5em;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

input, label, textarea {
  &:hover {
    cursor: pointer;
  }
}

input, textarea {
  &:focus {
    cursor: text;
    box-shadow: 0 0 5px 5px var(--brand-color);
    +label {
      color: var(--brand-color);
    }
  }
}

.btn {
  cursor: pointer;
  user-select: none;
  color: var(--color);
  background-color: var(--brand-color);
  border: 3px solid var(--color);
  padding: .75em;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  transition: all .25s linear;
  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.btn:hover {
  color: var(--brand-color);
  background-color: var(--color);
  border: 3px solid var(--brand-color);
  scale: 1.1;
}

img {
  max-height: 150px;
  aspect-ratio: 1;
  border-radius: 100px;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-logo {
    background-color: var(--brand-color);
    border-radius: 40px;
    padding: .5rem;
    border: 3px solid var(--color);
    img {
      height: 40px;
      width: 120px;
    }
  }
  nav {
    display: flex;
    gap: 1rem;
    a {
      margin: 0;
    }
  }
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap; 
}

.loading {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: var(--bg-color);
  border: 12px solid var(--brand-color);
  border-top-color: var(--color);
  border-left-color: var(--color);
  margin: 5rem auto;
  animation: spin 1s linear infinite;
}

.error-h2 {
  margin-top: 6rem;
  font-size: 3rem;
  color: yellow;
  background-color: var(--bg-color);
  border: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}