#login-register {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10rem;
  form {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    h2 {
      text-align: left;
    }
    .input-text {
      text-align: left;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      .first-label {
        text-align: left;
        margin-top: 1rem;
      }
      .last-label {
        margin-top: 1rem;
      }
    }
    .btn {
      margin-top: 1.5rem;
    }
  }
}